{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>Logged in: {{ request.user.email }}</h2>

    <button class="btn btn-md btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-md btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-md btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-md btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-md btn-outline-danger ml-5"  href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view"> 
    </div>

    <div id="read-email">
        <div class="box">
            <div class="list-group">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1" id="bh3"></h3>
                    <small class="text-muted" id="small"></small>
                </div>
                <h4 id="bh4"></h4>
                <h5 style="margin-top: 1.5em;" id="bh5"></h5>  
            </div>   
        </div>
        <button style="margin-top: 0.3em; display: none;" class="btn btn-primary">Reply</button>
        <button style="margin-top: 0.3em; display: none;" class="btn btn-outline-dark">Archive</button>
        <button style="margin-top: 0.3em; display: none;" class="btn btn-outline-secondary">Unarchive</button>        
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}